.nav {
  position: sticky;
  top: 0;
  background-color: #333333;
  height: 75px;
  z-index: 10;
  font-weight: bold;
}

.nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 100%;
}

.nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}
