@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: "League Spartan", sans-serif;
}

* {
  box-sizing: border-box;
}
