@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
html,
body {
  margin: 0;
  padding: 0;

  font-family: "League Spartan", sans-serif;
}

body {
  top: 0;
}

* {
  box-sizing: border-box;
}
